body {
    background-image: url("images/mars.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-color: #926400;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
	height: 400px;
    justify-content: center;
    background-image: url("images/marsforgameplay.jpg");
    border: solid black ;
    margin: 88px;
    margin-right: auto;
    margin-left: auto; 
}

.grid div {
	width: 25px;
	height: 25px;
}


.player{
    background-image: url("images/player.png") ;

}

.invader{
    background-image: url("images/alien.png");
    background-size: contain;
}

.laser {
    background-image: url("images/laser.png");
    background-size: cover;
}

.rocket {
    background-color: purple;
}

.boom {
	background-image: url("images/explosion.png");
}