body {
    background-image: url("images/mars.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-color: #926400;
}

.grid{
    display: grid;
    justify-content: center;
    background-color: white;
    border: solid #fff 200px;
    margin: 255px;
     
}

.player{
    background-color:green;
}

.invader{
    background-color: red;
}